h1 {
    font-size: 65px;
    color: lightsalmon;
    font-family: sans-serif;
    text-decoration: underline overline wavy 5px gray;
}
.lista-nao-ordenada {
    background-color: lightskyblue;
}
.paragrafo { 
    background-color: lightpink;
    font-weight: 600;
    font-size: 2em;
    text-decoration: underline overline dotted rgb(224, 51, 240);
}
body { 
    font-size: 16px;
    text-align: center;
}
li {
    font-style: italic;
    line-height: 30px;
    list-style: upper-roman;
}