ol li {
    background-color: yellow;
}

ol li:nth-child(2n) {
    color: green;
}

li.primo {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
}

h1 em, h1 em, h3 em, h4 em, h5 em, h6 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 800;
}

ul.linguagens li:nth-child(1), ul.linguagens li:nth-child(2), ul.linguagens li:nth-child(3) {
    color: blue;
}

ul.linguagens li.java {
    background-color: magenta;
}

ul.aliados li:nth-child(1):hover {
    color: orange;
    font-weight: 700;
}

ul.aliados li:nth-child(2):hover {
    color: green;
    font-weight: 700;
}

ul.aliados li:nth-child(3):hover {
    color: black;
    font-weight: 700;
}

ul.aliados li:nth-child(4):hover {
    color: yellow;
    font-weight: 700;
}

ul.aliados li:nth-child(5):hover {
    color: green;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}
